<div class="row justify-content-center">
    <div class="col-md-6">

        <h1>Registro</h1>

        <form action="/signup" method="POST">
            <div class="form-group">
                <label for="username">Nombre de usuario</label>
                <input name="username" type="text" class="form-control" id="field1">
            </div>
            <div class="form-group">
                <label for="email">Mail</label>
                <input name="email" type="text" class="form-control" id="field1">
            </div>
            <div class="form-group hidden">
                <label for="imager">Mail</label>
                <input name="image" type="text" class="form-control" id="image-input">
            </div>

            <div class="form-group">
                <label for="field2">Contraseña</label>
                <input name="password" type="password" class="form-control" id="field2">
                <small class="form-text text-muted">Nunca compartas tu contraseña</small>
            </div>

           <div class="general-bouttons large">
                <button type="submit">Registrarme</button>
            </div>

            {{#if errorMsg}}
            <div id="errorMsg">{{{errorMsg}}}</div>
            {{/if}}
        </form>


        <p>¿Tienes cuenta? <a href="/login">¡Inicia sesión!</a></p>
    </div>

</div>





<div class="character-picker hidden image-signup">

</div>

<section class="operations">
    <div class="operation">
        <button id="fetch-all">Fetch all</button>
    </div>

  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="javascripts/api-handler.js"></script>
  <script src="javascripts/appApi.js"></script>