       <div class="form-group">
          <label for="character-plus-picker">Currantes</label>     
        <div class="character-picker character-plus-picker">
            {{#each activeSarao.userList}}
              {{>facecard}}
            {{/each}}
        </div>
        </div>

        <div class="form-group">
        <label for="character-plus-picker">Disfrutones</label> 
        <div class="character-picker character-minus-picker">
            {{#each activeSarao.userList}}
              {{>facecard}}
            {{/each}}
        </div>
        </div>
        