<div class="container">



    <h1 style="font-weight: 100">Lista de ususarios</h1>


    <hr>
    <div class="character-picker">
    {{#each allUser}}
    <form action="/user/addfriend?id={{id}}" method="post">
        {{>facecard}}
        <p>{{karma}}</p>
        <div  class="general-bouttons profile" >
            <button type="submit">Añadir</button>
        </div>
    </form>


    <hr>
    {{/each}}
    </div>

    {{#if errorUserMsg}}
    <div id="errorMsg">{{{errorUserMsg}}}</div>
    {{/if}}

</div>