<h1>Hola, esto es editar perfil</h1>



<form action="/user/edit" method="POST">
    <div class="form-group">
        <label for="field1">Nombre de usuario</label>
        <input name="username" type="text" class="form-control" id="field1">
    </div>
    <button type="submit" class="btn btn-dark btn-block btn-lg">Realizar cambios</button>
</form>